body {
  font-family: garamond;
  background-color: aliceblue;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
}
#ruby, #csharp, #python {
  display: none;
}

button {
  margin:20px;
}

img {
  margin: 20px;
  border: 2px solid black;
  padding: 4px;
  width: 300px;
  height: auto;
}