img {
  margin: 20px;
  border: 2px solid black;
  padding: 4px;
  width: 300px;
  height: auto;
}

body {
  font-family: garamond;
  background-color: #536b78;
}

h1 {
  text-align: center;
  color: #f7dad9;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 22px;
}

button {
  margin:20px;
}

#ruby, #csharp, #python {
  display: none;
}



